
body

{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #000000;
}

h1.colores1

{
    border: solid 5px black;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

p

{
    text-align: justify;
}

p.Colores2

{
    border-left: double 20px red;
  border-top: double 20px red;
}

p.Colores3

{
    border-color: blue green;
  border-width: 5px 10px 20px 40px;
  border-style: dashed;
}

p.Colores4

{
    border-color:#ffd700;
  border-width: 40px 10px;
  border-style: double;
}

p.Colores5
{
border-color: #00FF00 black blue;
border-width: 15px;
border-style: solid none;
}

p.Colores6

{
    border-color: red black black;
  border-width: 40px 35px 40px;
  border-style: dashed solid dotted
}

p.Colores7

{
    border-color: black black black red;
  border-width: 10px 30px 20px;
  border-style: dotted solid dashed double;
}